<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>Markdown viewer</title>
		<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
	</head>

	<body id="page-top">
		<div id="wrapper">
			<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
				<div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
					<div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-kiss"></i></div>
					<div class="sidebar-brand-text mx-3"><span>My SSR</span></div>
				</a>
					<hr class="sidebar-divider my-0">
					<ul class="navbar-nav text-light" id="accordionSidebar">
						{{ range .files }}
						<li class="nav-item">
							<a class="nav-link" href="/{{ . }}">
								<i class="far fa-heart"></i>
								<span>{{ . }}</span>
							</a>
						</li>
						{{ end }}
					</ul>
					<div class="text-center d-none d-md-inline"></div>
				</div>
			</nav>
			<div class="d-flex flex-column" id="content-wrapper">
				<div id="content">
					<nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
						<div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
							<h3 class="text-dark mb-0">Rendered markdown</h3>
						</div>
					</nav>
					<div class="container-fluid">{{ .markdown }}</div>
				</div>
				<footer class="bg-white sticky-footer">
					<div class="container my-auto">
						<div class="text-center my-auto copyright"><span>Static Site Generator in GO</span></div>
					</div>
				</footer>
			</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
		</div>
	</body>

</html>
